@import 'breakpoints.scss';

* {
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.square {
  width: 100px;
  height: 100px;
  margin: 8px;
  background-color: #ff7f50;

  @include for-medium-up {
    background-color: #8a2be2;
  }
  @include for-desktop {
    background-color: #a61;
  }
  @include for-screen-big {
    background-color: #c47;
  }
}
.container {
  @include for-landscape {
    display: flex;
  }
}
