* {
  box-sizing: border-box;
}
.chess {
  margin: 16px;
}
.chess,
.chess_square {
  border: 1px solid #000;
  border-collapse: collapse;
}
td,
.chess_square {
  text-align: center;
  width: 50px;
  height: 50px;
}
tr:nth-child(even) .chess_square:nth-child(odd) {
  background-color: #000;
}
tr:nth-child(odd) .chess_square:nth-child(even) {
  background-color: #000;
}
