* {
  box-sizing: border-box;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-size: 16px;
  text-transform: uppercase;
}
.spinner-text {
  animation: blinking 2s linear infinite;
}

.circle {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 4px solid #d3d3d3;
  border-top-color: #000;
  margin-bottom: 8px;
  animation: spinner 2s linear;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes spinner {
  0% {
    border-top-color: #000;
  }
  25% {
    border-right-color: #000;
  }
  50% {
    border-bottom-color: #000;
  }
  75% {
    border-left-color: #000;
  }
  100% {
    border-top-color: #000;
  }
}
